<ul id="menu">
  <li id="liSearch" class="li-menu active open"><a><i class="fa fa-search"></i>
    <span>Search</span></a>
  </li>

  <!-- FRIEND SECTIONS -------->
  <li id="liFriend" class="li-menu active open"><a class="parent"><i class="fa fa-heart"></i>
    <span>Friends (10)</span></a>
    <ul>
        <% for(var i=0; i < lstAvatar.length; i++){ %>
           <li>
               <a href="category">
                <img class="img-circle" src="<%= lstAvatar[i] %>" style="width: 30px; height: 30px;" alt="<%=lstName[i]%>" title="<%=lstName[i]%>">
                   <%=lstName[i]%><span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
                   <span class="span_tool u_phone" href="javascript:void(0);" style="position: absolute;text-align: right;"
                        data-phone-img="<%=lstAvatar[i]%>"
                        data-phone-username="<%=lstName[i]%>"><i class="fa fa-phone-square"></i></span>
                   <span class="span_tool u_chat" href="javascript:void(0);" style="position: absolute;text-align: right; margin-left:15px;"><i class="fa fa-comments-o"></i></span>
               </a>
           </li>
        <% } %>
    </ul>
  </li>

  <!-- USER ON SYSTEM SECTION -------->
  <li id="liUser" class="li-menu"><a class="parent"><i class="fa fa-weixin"></i>
  <span>Users on system (100)</span></a>
    <ul>
        <% for(var i=0; i < lstUserOnSys.length; i++){ %>
           <li>
               <a href="category">
                <img class="img-circle" src="<%= lstUserOnSys[i] %>" style="width: 30px; height: 30px;" alt="<%=lstName[i]%>" title="<%=lstName[i]%>">
                   <%=lstName[i]%><span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
                   <span class="span_tool u_phone" href="javascript:void(0);" style="position: absolute;text-align: right;"><i class="fa fa-user-plus"></i></span>
                   <span class="span_tool u_chat" href="javascript:void(0);" style="position: absolute;text-align: right; margin-left:15px;"><i class="fa fa-comments-o"></i></span>
               </a>
           </li>
        <% } %>
    </ul>
  </li>
  <li id="liSupport" class="li-menu"><a class="parent"><i class="fa fa-life-ring"></i>
  <span>Support team</span></a>
    <ul>
      <li>
        <a href="order">
            <img class="img-circle" src="img/avatar_default/C7.jpeg" style="width: 30px; height: 30px;" alt="Ronado" title="Ronado">
                 Ronado<span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
        </a>
      </li>
      <li>
        <a href="order_recurrin">
            <img class="img-circle" src="img/avatar_default/taylor.jpeg" style="width: 30px; height: 30px;" alt="Taylor" title="Taylor">
                 Taylor<span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
        </a>
      </li>
    </ul>
  </li>
</ul>
<script type="text/javascript">
$(document).ready(function(){
    $('#liSearch').removeClass('active open');
    $('#liFriend').addClass('active open');
    $('#liUser').removeClass('active open');
    $('#liSupport').removeClass('active open');

    $('.li-menu').click(function(){
        $('.li-menu').removeClass('active open');
        $(this).addClass('active open');
    });
    $('.span_tool i').hover(function() {
        $(this).addClass('fa-2x');
    }, function() {
        $(this).removeClass('fa-2x');
    });

    $('#liFriend .u_phone i').click(function(event){
        event.preventDefault();
        var imgURL = $(this).closest('span').attr("data-phone-img");
        var name = $(this).closest('span').attr("data-phone-img");
        $('#no_video_img').hide();
        $('#user_img').attr('src', imgURL);
        $('#user_img').show();
        $('#callingDiv').show();
    });

    $('#liUser .u_phone i').click(function(event){
        event.preventDefault();
        alert('Handle Add Friend');
    });

    $('.u_chat').click(function(event){
        event.preventDefault();
        $('#chat_popup').show();
    });
});

</script>