<ul id="menu">
  <li class="li-menu"><a><i class="fa fa-search"></i>
    <span>Search</span></a>
  </li>

  <!-- FRIEND SECTIONS -------->
  <li class="li-menu active open"><a class="parent"><i class="fa fa-heart"></i>
    <span>Friends (10)</span></a>
    <ul>
      <li>
        <a href="category">
         <img class="img-circle" src="<%= man_default %>" style="width: 30px; height: 30px;" alt="Robert Duy" title="Robert Duy">
            Macus<span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
        </a>
      </li>
      <li>
          <a href="category">
           <img class="img-circle" src="<%= man_default %>" style="width: 30px; height: 30px;" alt="Robert Duy" title="Robert Duy">
              Tom<span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
          </a>
      </li>
      <li>
        <a href="category">
         <img class="img-circle" src="<%= man_default %>" style="width: 30px; height: 30px;" alt="Robert Duy" title="Robert Duy">
            Mary<span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
        </a>
      </li>
      <li>
          <a href="category">
           <img class="img-circle" src="<%= man_default %>" style="width: 30px; height: 30px;" alt="Robert Duy" title="Robert Duy">
              Bill Gate<span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
          </a>
      </li>
      <li>
            <a href="category">
             <img class="img-circle" src="<%= man_default %>" style="width: 30px; height: 30px;" alt="Robert Duy" title="Robert Duy">
                Adam<span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
            </a>
      </li>
      <li>
            <a href="category">
             <img class="img-circle" src="<%= man_default %>" style="width: 30px; height: 30px;" alt="Robert Duy" title="Robert Duy">
                Big Daddy<span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
            </a>
      </li>
      <li>
          <a href="category">
           <img class="img-circle" src="<%= man_default %>" style="width: 30px; height: 30px;" alt="Robert Duy" title="Robert Duy">
              Johny<span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
          </a>
      </li>
      <li>
        <a href="category">
         <img class="img-circle" src="<%= man_default %>" style="width: 30px; height: 30px;" alt="Robert Duy" title="Robert Duy">
            Djino<span class="pull-right"><img src="img/onlineIcon.png" style="width: 12px; height: 12px;" /></span>
        </a>
      </li>
    </ul>
  </li>

  <!-- USER ON SYSTEM SECTION -------->
  <li class="li-menu"><a class="parent"><i class="fa fa-weixin"></i>
  <span>Users on system (100)</span></a>
    <ul>
      <li><a href="installer">Zidance</a></li>
      <li><a href="modification">Totti</a></li>
      <li><a href="module">Therry Henry</a></li>
      <li><a href="shippin">Carlos</a></li>
      <li><a href="payment">Messi</a></li>
      <li><a href="total">Kaka</a></li>
      <li><a href="feed">Babarian</a></li>
    </ul>
  </li>
  <li class="li-menu"><a class="parent"><i class="fa fa-life-ring"></i>
  <span>Support team</span></a>
    <ul>
      <li><a href="order">Ronney</a></li>
      <li><a href="order_recurrin">Ronado</a></li>
      <li><a href="return">Owen</a></li>
    </ul>
  </li>
</ul>
<script type="text/javascript">
    $('.li-menu').click(function(){
        if($(this).hasClass('active')){
            $(this).removeClass('active open');
        }else{
            $(this).addClass('active open');
        }
    });
</script>